version: 2

jobs:
  build:
    docker:
      - image: circleci/golang

    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run:
          name: test
          command: |
            make test
      - run:
          name: tools
          command: make tools
      - run:
          name: protolint
          command: |
            make proto-lint
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
