name: Lint
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.5
      - uses: golangci/golangci-lint-action@v2.5.2
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.32
          args: --timeout 10m
          github-token: ${{ secrets.github_token }}
